---
import ThemeScript from "@components/base/ThemeScript.astro";
---

<div class="inline-flex a mr-2">
  <input
    class="absolute opacity-0"
    id="theme-switcher"
    data-theme-switcher
    type="checkbox"
  />
  <label
    class="relative inline-block h-4 w-6 cursor-pointer"
    for="theme-switcher"
  >
    <span class="sr-only">theme switcher</span>
    <span
      class="absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full"
    >
      <!-- Icono mapa (modo claro) -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 absolute z-10 opacity-100 dark:opacity-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
        />
      </svg>

      <!-- Icono planeta (modo oscuro) -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 absolute z-10 opacity-0 dark:opacity-100"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2z"
        />
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.5 12h19" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 2.5v19" />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.364 15.364A6 6 0 0112 18a6 6 0 01-3.364-2.636M8.636 8.636A6 6 0 0112 6a6 6 0 013.364 2.636"
        />
      </svg>
    </span>
  </label>
</div>

<ThemeScript />